.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
  width: 650px;
  min-height: auto;
  padding: 20px;
  border: 1px solid #1c1b1b;
  border-radius: 8px;
  background-color: #ffffff6c;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  gap: 15px;
}

.input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
}

.btn {
  padding: 10px;
  font-size: 16px;
  color: black;
  background-color: rgba(128, 128, 128, 0.482);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: black;
  color: #fff;
}
.error {
  color: red;
  font-size: 12px;
}
.wrapper {
  display: flex;
  flex-direction: column;
}
.login {
  display: flex;
  justify-content: center;
  gap: 15px;
}
.link {
  color: black;
  transition: color 0.3s;
}
.link:hover {
  color: #fff;
}
