.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #e3e3e3;
  border-radius: 8px;
  background-color: #f8f9fa;
  transition: all 0.3s;
}

.container:hover {
  background-color: #e9ecef;
}

.deleteButton {
  padding: 5px 10px;
  background-color: lightgray;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s;
}
.deleteButton:hover {
  background-color: black;
}
.input {
  border: 1px solid #e3e3e3;
  border-radius: 4px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
