body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.3),
      rgba(46, 47, 66, 0.3)
    ),
    url("./assets/smooth-stone-texture.jpg");
  background-repeat: repeat-y;
  background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}
