.container {
  width: auto;
  padding: 30px;
  display: block;
  margin: 0 auto;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style-type: none;
}

.item {
  min-width: calc((100% - 60px) / 4);
  height: auto;
}
